li {
	list-style: none;
}

.zhuangzhi-centent {
	width: 80%;
	background-color: gainsboro;
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
}

.zhuangzhi-cententleft,
.zhuangzhi-cententright {
	background-color: white;
}

.zhuangzhi-cententleft {
	width: 15%;
	height: 200px;
}

.zhuangzhi-cententleft ul li {
	margin: 30px;
}

.zhuangzhi-cententright {
	width: 73%;
	padding-left: 3%;
	padding-right: 3%;
}

.inner>li {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.zhuangzhi-cententright-di {
	margin-left: 10px;
	margin-top: 2%;
	color: gray;
	font-size: 12px;
}

.zhuangzhi-cententright-di>a {
	color: black;
	font-size: 13px;
	font-weight: 400;
	font-family: 微软雅黑;
}

.page {
	width: 50%;
	margin-left: 29%;
}

.inner1 {
	font-size: 12px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

strong {
	padding: 3px 6px 3px;
	background-color: #FF9C00;
	color: white;
}