ul {
        list-style: none;
    }
    
    li {
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .addupload {
        width: 50%;
        background-image: url(../../src/assets/timg8.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-left: 15%;
        padding-right: 20%;
        padding-top: 20px;
    }
    
    h2 {
        color: #54AADC;
    }
    
    .addessential1 {
        width: 80%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
    }
    
    .el-textarea__inner {
        width: 150%;
    }
    
    li:nth-child(1) {
        margin-bottom: 20px;
    }